@page "/OrderConfirm"
@using MatBlazor

<link href="_content/MatBlazor/dist/matBlazor.css" rel="stylesheet" />
<link href="~/css/TabStylings.css" rel="stylesheet" />

@if (currentUserRole == null){
    <p>Please log in to view this page.</p>
}else if (currentUserRole.Contains("Admin") || currentUserRole.Contains("HeadChef")){
    
<div class="tabSubtitle">
    <MatHeadline3>Items with low stock</MatHeadline3>
</div>

<div>

    @foreach(var oI in orderItems){
            @*@foreach (var o in oI.Orders){*@
            <MatCard Class="item-card">
                <MatSelect Label="Pick an Order Item" Outlined="true" ValueChanged="(string i) => OnChangeOrderItem(i)">
                    <MatOptionString Value="-1"></MatOptionString>
                    @foreach (var o in getOrderItemsToList())
                    {
                        <MatOptionString Value="@o.Id.ToString()">@o.Name</MatOptionString>
                    }
                </MatSelect>
                <MatCardContent>
                    @if (selectedOrder != null)
                    {
                        <MatHeadline2>@selectedOrder.Name</MatHeadline2>
                        <MatHeadline4>Unit Description: @selectedOrder.UnitDesc</MatHeadline4>
                        <MatHeadline4>Order Quantity: @selectedOrder.OrderQuantity</MatHeadline4>

                        <div class="tabSubtitle">
                            <MatHeadline6>Please amend or confirm the quantity you want to re-order:</MatHeadline6>
                        </div> 
                        <p><MatTextField @bind-Value="@newQuantity" @oninput="@((e) => { newQuantity=(string)e.Value;})" PlaceHolder="Item Quantity"> </MatTextField></p>

                        <MatButton @onclick="() => changeQuantity(selectedOrder.Id, newQuantity)">Change Quantity</MatButton>
                    }
                    @if (additionSuccess == "True")
                    {
                        Toaster.Add("Item order has been confirmed", MatToastType.Success, "Item Order");
                        ToasterStatus();
                    }
                    else if (additionSuccess == "False")
                    {
                        Toaster.Add("Item order not successfull.", MatToastType.Warning, "Item Order");
                        ToasterStatus();
                    }
                </MatCardContent>
            </MatCard>
        
 
    }


</div>
}else{
    <p> You do not have authorisation to view this page.</p>
}